.banner {
  margin-bottom: 6.81rem;
}

.banner h1 {
  margin: 0.56rem 0 2.31rem;
}

.banner a {
  margin: 2.31rem 0;
}

@media (min-width: 900px) {
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5.88rem;
  }

  .banner div {
    max-width: 20rem;
  }

  .banner h1 {
    margin-bottom: 1.44rem;
  }

  .banner a {
    margin-bottom: 0;
  }
}
