.card {
  width: 100%;
  border-radius: 1.5625rem;
  border: 1px solid;
  padding: 1.81rem;
}

.card.sm {
  display: flex;
  align-items: center;
  gap: 2.12rem;
}

.card.lg div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
