.title.lg {
  font: var(--font-title1);
}

.title.md {
  font: var(--font-title2);
}

.title.sm {
  font: var(--font-title3);
}

.text {
  font: var(--font-text);
}

.username {
  font: var(--font-username);
  text-transform: uppercase;
  color: var(--color-brand);
}
