.title {
  font-weight: 800;
  font-family: var(--font-title);
}

.title.lg {
  font-size: var(--font-size-title1);
}

.title.md {
  font-size: var(--font-size-title2);
}

.title.sm {
  font-size: var(--font-size-title3);
}

.text {
  font: var(--font-text);
}

.text.brand {
  font: var(--font-text-brand);
  text-transform: uppercase;
  color: var(--color-brand);
}

.link {
  font: var(--font-link);
}

.link.learn-more {
  font: var(--font-link-brand);
  color: var(--color-brand);
}

.link.learn-more:hover {
  color: var(--color-brand-hover);
  text-decoration: underline;
}
